{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div style="margin: 50px 40% 50px 40%;">

    <form action="{% url 'hand-over-technique' %}" method="post">
        {% csrf_token %}
        <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Select equipment and building where to transfer</font></font></h1>
        {% for i in form %}
        <div class="form-floating">
            {{i}}
            <label>{{i.label}}</label>
        </div>
        {% endfor %}


        <button class="btn btn-primary w-100 py-2" type="submit"><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">Передать</font></font></button>

    </form>
</div>
{% endblock %}