{% extends 'base.html' %}
{% block content %}


<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4"><font style="vertical-align: inherit;">ID: {{technique.inventory_number}}</span>
        </a>
    </header>
    <main>
        <h1 class="text-body-emphasis"> {{technique.name}}</h1>
        <p class="fs-5 col-md-8">Статус: {{technique.get_status_display}}</p>
        <hr class="col-3 col-md-2 mb-5">
        <div class="row g-5">
            {% if update %}
            <div class="col-md-6">
                <h2 class="text-body-emphasis">Изменить состояние техники</h2>
                <p>Готовы выйти за рамки
                    стартового шаблона? Ознакомьтесь с этими проектами с открытым исходным кодом, которые вы можете
                    быстро скопировать в новый репозиторий GitHub.</p>
                <ul class="list-unstyled ps-0">
                    <li>
                        <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font"
                           rel="noopener" target="_blank">
                            <svg class="bi" width="16" height="16">
                                <use xlink:href="#arrow-right-circle"></use>
                            </svg>
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                Стартер Bootstrap npm
                            </font></font></a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <div class="col-md-6">
                <h2 class="text-body-emphasis">История перемещения</h2>
                <p>Здесь отображается вся история перемещения техники, когда либо совершенная. </p>
                <ul class="list-unstyled ps-0">
                    <li>
                        <a class="icon-link mb-1" href="/docs/5.3/getting-started/introduction/">
                            <svg class="bi" width="16" height="16">
                                <use xlink:href="#arrow-right-circle"></use>
                            </svg>
                                Краткое руководство по Bootstrap
                            </a>
                    </li>

                </ul>
            </div>
        </div>
    </main>
</div>
{% endblock %}