<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {% if header == 'home' %}
            <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Главная</a></li>
            {% else %}
            <li><a href="{% url 'home' %}" class="nav-link px-2">Главная</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            {% if header == 'technique' %}
            <li><a href="{% url 'tehnique' %}" class="nav-link px-2 link-secondary">Техника</a></li>
            {% else %}
            <li><a href="{% url 'tehnique' %}" class="nav-link px-2">Техника</a></li>
            {% endif %}
            {% if header == 'hand_over' %}
            <li><a href="{% url 'tehnique_transport' %}" class="nav-link px-2 link-secondary">Отправить</a></li>
            {% else %}
            <li><a href="{% url 'tehnique_transport' %}" class="nav-link px-2">Отправить</a></li>
            {% endif %}
            {% if header == 'track' %}
            <li><a href="{% url 'track' %}" class="nav-link px-2 link-secondary">Отследить</a></li>
            {% else %}
            <li><a href="{% url 'track' %}" class="nav-link px-2">Отследить</a></li>
            {% endif %}
            {% if header == 'accept' %}
            <li><a href="{% url 'accept_technique' %}" class="nav-link px-2 link-secondary">Принять</a></li>
            {% else %}
            <li><a href="{% url 'accept_technique' %}" class="nav-link px-2">Принять</a></li>
            {% endif %}
            {% endif %}
            {% if header == 'faqs' %}
            <li><a href="#" class="nav-link px-2 link-secondary">FAQs</a></li>
            {% else %}
            <li><a href="#" class="nav-link px-2">FAQs</a></li>
            {% endif %}
            {% if header == 'about' %}
            <li><a href="#" class="nav-link px-2 link-secondary">About</a></li>
            {% else %}
            <li><a href="#" class="nav-link px-2">About</a></li>
            {% endif %}

        </ul>
        {% if user.is_authenticated %}
        <div class="col-md-3 text-end">
            <a href="" class="btn btn-outline-primary me-2">{{user}}</a>
            <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a>

        </div>
        {% else %}
        <div class="col-md-3 text-end">
            <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Войти</a>
            <a href="{% url 'sign_up' %}" class="btn btn-primary">Регистрация</a>
        </div>
        {% endif %}
    </header>
</div>